.menu__lista {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu__link {
    color: $cor-branca; // Visível sobre a imagem
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $cor-primaria;
    }
}

.cabecalho__logo {
    max-height: 60px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2)); // Destaca a logo
}

.card {
    background: $cor-branca;
    padding: 30px;
    border-radius: $border-radius;
    text-align: center;
    transition: $transicao;

    &:hover {
        transform: translateY(-10px);
    }

    &__img {
        max-width: 80px;
        margin: 0 auto 20px;
    }
}