$cor-primaria: #007bff;    // Azul Moderno (Destaque)
$cor-secundaria: #6c757d;  // Cinza (Texto secundário)
$cor-fundo: #f8f9fa;       // Branco Quebrado (Fundo do site)
$cor-texto: #212529;       // Grafite Escuro (Leitura)
$cor-branca: #ffffff;

$fonte-principal: 'Arial', sans-serif;

$espacamento: 20px;
$border-radius: 8px;

$transicao: all 0.3s ease;
